.heroParent{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 80px 30px;
    z-index: 1;
    clip-path: polygon(0 0,100% 0 ,100% 100%,70% 95%,0 100%);
    order: 1;
}

.heroImageParent{
  width: 100%;
  order: 2;
}

.heroImage{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
  border: 1.5px solid #8a2be2;
}

.infoParent{
width: 100%;
  order: 1;
  margin-right: 8px;
  align-items: center;
}

.name{
 color: white;
 font-size: 50px;
 font-weight: 700;
 line-height: 72px;
}

.roles{
  color: white;
  font-weight: 600;
  font-size: 32px;
  line-height: 68px;
  display: flex;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
}

.roles > span {
  color: #854CE6;
}

.decription{
  cursor: pointer;
  color: white;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 40px;
  opacity: 0.7;
}

.resumeBtn{
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  width: 95%;
  max-width: 300px;
  text-align: center;
  padding: 16px;
  color: white;
  cursor: pointer;
   background: linear-gradient(to right, #8a2be2, #9400d3, #9932cc, #ba55d3, #da70d6);
   border-radius: 50px;
   box-shadow: 5px 5px 20px #1f3436,-5px -5px 20px #1f2634;
   font-weight: 600;
   border: none;
   font-size: 16px;
  }

.resumeBtn:hover{
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  box-shadow: 20px 20px 60px #1F2634;
  filter: brightness(1);
}

.heroAnimationBg{
   position: absolute;
   display: flex;
   justify-content: end;
   top: 0%;
   left: 40%;
   right: 0;
   bottom: 0;
   width: 100%;
    height: 100%;
    max-width: 860px;
}

@media (max-width:960px){    
    .heroParent{
    padding : 66px 16px;
    }
   }

@media (max-width:960px){    
    .heroParent{
    padding : 32px 16px;
    flex-direction: column;
    order: 1;
   }   
   .heroImageParent{
    order: 2;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .infoParent{
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 80px;
  }
  .name{
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 8px;
  }
  .roles{
  color: white;
  font-size: 22px;
  line-height: 48px;
  margin-bottom: 16px;
}
.decription{
  font-size: 16px;
  line-height: 32px;
}
.resumeBtn{
  max-width: 200px;
}
.heroImage{
  max-width: 320px;
  max-height: 320px;
}
.heroAnimationBg{
   justify-content: center;
   top: -20%;
   left: 0%;
   right: 0;
   bottom: 0;
   width: 100%;
    height: 100%;
    max-width: 860px;
}
}

@media (max-width:600px){
  .infoParent{
    margin-bottom: 30px;
  }
 .name{
      font-size: 30px;
 }
 .resumeBtn{
  max-width: 200px;
}
.heroImage{
  max-width: 240px;
  max-height: 240px;
}
}